<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">

	<insert id="memberInsert"
		parameterType="com.smhrd.entity.Member">
		insert into tb_member (mem_id, mem_pw,
		mem_phone,mem_name, mem_email,
		mem_phone_open, joined_at)
		values(#{mem_id}, #{mem_pw}, #{mem_phone},
		#{mem_name},#{mem_email},#{mem_phone_open},
		NOW())
	</insert>
	
	

	<select id="IDCheck" parameterType="String"
		resultType="com.smhrd.entity.Member">
		select * from tb_member where mem_id =#{mem_id}
	</select>
	
	<select id="memberSelectOne" parameterType="com.smhrd.entity.Member"
								resultType="com.smhrd.entity.Member">
		select * from tb_member where mem_id = #{mem_id} and mem_pw = #{mem_pw}
		
	</select>

	<select id="phoneCheck" resultType="String">
		select mem_phone from tb_member where mem_id = #{mem_id} and mem_phone_open = 1
	</select>

	<update id="memberUpdate"
		parameterType="com.smhrd.entity.Member">
		update tb_member set mem_pw = #{mem_pw}, mem_name =
		#{mem_name}, mem_phone=#{mem_phone},mem_phone_open=#{mem_phone_open}
		where mem_id=#{mem_id}
	</update>

</mapper>






